body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #000;
}

div, p, a, span {
	box-sizing: border-box;
}

button, input {
	transition: all .3s ease;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
	transition: all .3s ease;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial',  sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 0.01em;
}

a, a:hover, a:active, i {
	text-decoration: none;
	outline: none;
	transition: all .3s ease;
}

select, input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active 
	{
	outline: none;
}